<h3><%= @article.title %></h3>
<br>
<h5><%= @article.content %></h5>

<form method="post" action="/articles/<%= @article.id %>">
    <input type="hidden" value="delete" name="_method"/>
    <input type="submit" value="Delete"/>
</form>